@import 'tailwindcss';

@source '../views/**/*.blade.php';
@source '../js/**/*.js';
@source '../../app/**/*.php';

@theme {
    --color-brand-forest: #17352f;
    --color-brand-sand: #f4efe5;
    --color-brand-clay: #d86f45;
}